body {
   margin: 0;
}

header {
    background-color: #333;
    color: white;
    padding:0;
 }

nav {
   display: flex;
   flex-direction: row;
   list-style: none;
}

nav ul li{
  display: inline-block;
  margin-right: 10px;
}

.nav-link{
   color: #fff;
   text-decoration: none;
}

.up-title{
   color:aqua;
}


.text{
    text-align: center;
  }

.about-text{
   padding: 20px;
  }

  .main-container{
   display: flex;
   flex-direction: row;
  }

.container{
   display: flex;
   /* flex-wrap:wrap; */
   flex-direction: column;
}

.row{
   display: flex;
   flex-basis: 70%;
}

.feature{
    display: flex;
    /* text-align: center; */
    margin: 20px;
    /* overflow: clip; */
    align-items: center;
 }

 .feature h3{
   margin: 20px;
 }
 
 .about-falak {
     width: 175px;
     height:275px;
     border: 2px solid #ccc;
     border-radius: 10px;
  }


  .footer-container {
    display:flex;
    flex-direction: row;
    background-color:#333;
    color:white;
    padding: 15px;
    align-items: center;
 }
 
 .footer-container a{
    color: white;
    margin:0 20px;
    text-decoration: none;
    align-items: center;
     display: flex;
 }
 
 .footer-img {
    width: 50px;
    height: 50px;
    margin: 15px;
 }
 